*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
:root {
  --blue:     #2196F3;
  --dark:     #1a1a1a;
  --gray:     #9e9e9e;
  --border:   #d8d8d8;
  --input-bg: #fafafa;
  --orange: #FF7043;
}

body {
  font-family: 'DM Sans', sans-serif;
  background: #f0f4f8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map {
  width: 25vw;
  height: 100vh;
}

.btn-primary {
  display: block;
  width: 100%;
  padding: 15px;
  background: var(--orange);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: .3px;
  transition: opacity .15s, transform .1s;
}

.chip {
  background-color: black;
}
